<!-- Just an image -->
<nav class="navbar navbar-light bg-light justify-content-between sticky-top">
  <a class="navbar-brand mx-4" href="<%=lists_path%>">
    <img src="https://e7.pngegg.com/pngimages/150/357/png-clipart-microwave-popcorn-popcorn-food-cartoon-thumbnail.png" width="50" height="50" alt="">
  </a>
  <div class="mx-4">
    <%= link_to "My lists", lists_path%>
    <%= link_to "New lists", new_list_path%>
  </div>
</nav>
